<%= form_with(model: mosquitto_acl, local: true) do |form| %>
  <% if mosquitto_acl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mosquitto_acl.errors.count, "error") %> prohibited this mosquitto_acl from being saved:</h2>

      <ul>
      <% mosquitto_acl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, { class: 'form-control', readonly: true } %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :read, "Read?" %>
    <%= form.check_box :read %>
  </div>

  <div class="field">
    <%= form.label :read, "Write?" %>
    <%= form.check_box :write %>
  </div>
  <div class="field">
    <%= form.label :read, "Subscribe?" %>
    <%= form.check_box :subscribe %>
  </div>

  <div class="field form-group">
    <%= form.label :provision_request_id %>
    <%= form.collection_select :provision_request_id, ProvisionRequest.all, :id, :friendly_name, {}, { class: 'form-control', readonly: true } %>
  </div>

  <div class="actions">
    <%= form.submit "Update Mosquitto ACL", class: "btn btn-primary" %>
  </div>
<% end %>
