<h1>Mosquitto Acls</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Topic</th>
      <th>Read</th>
      <th>Write</th>
      <th>Subscribe</th>
      <th>Provision request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mosquitto_acls.each do |mosquitto_acl| %>
      <tr>
        <td><%= mosquitto_acl.username %></td>
        <td><%= mosquitto_acl.topic %></td>
        <td><%= mosquitto_acl.read? %></td>
        <td><%= mosquitto_acl.write? %></td>
        <td><%= mosquitto_acl.subscribe? %></td>
        <td><%= link_to mosquitto_acl.provision_request.friendly_name, mosquitto_acl.provision_request %></td>
        <td><%= link_to 'Show', mosquitto_acl %></td>
        <td><%= link_to 'Edit', edit_mosquitto_acl_path(mosquitto_acl) %></td>
        <td><%= link_to 'Destroy', mosquitto_acl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mosquitto Acl', new_mosquitto_acl_path %>
