<p>
  <strong>Username:</strong>
  <%= @mosquitto_acl.username %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @mosquitto_acl.topic %>
</p>

<p>
  <strong>Read?:</strong>
  <%= @mosquitto_acl.read? %>
</p>

<p>
  <strong>Write?:</strong>
  <%= @mosquitto_acl.write? %>
</p>

<p>
  <strong>Subscribe?:</strong>
  <%= @mosquitto_acl.subscribe? %>
</p>

<p>
  <strong>Provision request:</strong>
  <%= @mosquitto_acl.provision_request.friendly_name %>
</p>

<%= link_to 'Edit', edit_mosquitto_acl_path(@mosquitto_acl) %> |
<%= link_to 'Back', mosquitto_acls_path %>
