<%= form_with(model: provision_request, local: true) do |form| %>
  <% if provision_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provision_request.errors.count, "error") %> prohibited this provision_request from being saved:</h2>

      <ul>
      <% provision_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= form.label :friendly_name, "Name" %>
      <%= form.text_field :friendly_name, { class: "form-control" } %>
    </div>

    <div class="col">
      <%= form.label :friendly_location, "Location" %>
      <%= form.text_field :friendly_location,  {class: "form-control" } %>
    </div>

    <div class="col">
      <%= form.label :pin, 'PIN' %>
      <%= form.text_field :pin,  { class: "form-control" }  %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :manufacturer %>
      <%= form.text_field :manufacturer, { class: "form-control" } %>
    </div>

    <div class="col">
      <%= form.label :model %>
      <%= form.text_field :model,  {class: "form-control" } %>
    </div>

    <div class="col">
      <%= form.label :serial_number %>
      <%= form.text_field :serial_number,  { class: "form-control" }  %>
    </div>
  </div>
    
  <div class="field">
    <%= form.label :ip_address, 'IP Address' %>
    <%= form.text_field :ip_address,  { readonly: true, class: "form-control" }  %>
  </div>

   <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select([:unanswered, :accepted, :denied]) %>
  </div>

  <div class="actions">
    <%= form.submit "Update Provision Request", class: "btn btn-primary" %>
  </div>
<% end %>
