<%= form_with(model: provision_request, local: true) do |form| %>
  <% if provision_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provision_request.errors.count, "error") %> prohibited this provision_request from being saved:</h2>

      <ul>
      <% provision_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= form.label :friendly_name, "Given Name" %>
      <%= form.text_field :friendly_name, { class: "form-control" } %>
    </div>
  </div>

  <hr>

<% if can? :manage, ProvisionRequest %>
  <div class="row">
    <div class="col">
      Choose the target user for this request. The user cannot be changed later.
      <p>
	<br>
	<%= form.label :user %>
	<%= form.collection_select :user_id, @users, :id, :name, {}, { class: 'form-control', readonly: true } %>
      </p>
    </div>
  </div>
  <hr>
<% end %>

  <div class="row">
    <div class="col">
      Choose the target network for this request. The network cannot be changed later.
      <p>
	<br>
	<%= form.label :network %>
	<%= form.collection_select :network_id, @networks, :id, :name, {}, { class: 'form-control', readonly: true } %>
      </p>
    </div>
  </div>
  <hr>
<hr>

  <div class="row">
   <div class="col">
     <%= form.label :status %>
     <%= form.select :status, options_for_select([:unanswered, :accepted, :denied], selected: form.object.status) %>
   </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <%= form.label "Publishes" %>
      <%= form.text_area :wo_ddcs, { class: "form-control", value: @provision_request.wo_ddcs.join("\r\n") } %>
    </div>

    <div class="col">
      <%= form.label "Consumes" %>
      <%= form.text_area :ro_ddcs, { class: "form-control", value: @provision_request.ro_ddcs.join("\r\n") }  %>
    </div>
  </div>

  <hr>

  <div class="actions">
    <%= form.submit "Save Request", class: "btn btn-primary" %>
  </div>
<% end %>
