<table class='table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Identification</th>
      <th>Network</th>
      <th>UUID</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @unanswered_provision_requests.each do |provision_request| %>
      <tr>
        <td><%= provision_request.status %></td>
        <td><%= link_to provision_request.friendly_name, provision_request %></td>
        <td><%= provision_request.manufacturer %> /<%= provision_request.model %> / <%= provision_request.serial_number %></td>
	<td><%= link_to provision_request.network.name, provision_request.network %></td>
	<td><%= link_to provision_request.id, provision_request %></td>

        <td><%= link_to 'Delete', provision_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <% @provision_requests.each do |provision_request| %>
      <tr>
        <td><%= provision_request.status %></td>
        <td><%= link_to provision_request.friendly_name, provision_request %></td>
        <td><%= provision_request.manufacturer %> /<%= provision_request.model %> / <%= provision_request.serial_number %></td>
	<td><%= link_to provision_request.network.name, provision_request.network %></td>
	<td><%= link_to provision_request.id, provision_request %></td>
	
        <td><%= link_to 'Delete', provision_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
