<div class='row'>
  <div class='col'>
    <h1><%= @provision_request.friendly_name %></h1>

    <hr>

    Network: <%= link_to @provision_request.network.name, @provision_request.network %>
    
    <hr>

<% if can? :manage, :all %>
    <h3>IP Address:</h3>
    <p>
      <%= @provision_request.ip_address %>
    </p>
<% end %>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <% if %>
    <h3><%= @provision_request.status.capitalize %></h3>
    <% end %>

    <% if @provision_request.unanswered? %>
      <%= render 'accept_pr' %>
      <%= render 'deny_pr' %>
    <% end %>

    <% if @provision_request.denied? %>
      <%= render 'accept_pr' %>
    <% end %>

    <% if @provision_request.accepted? %>
      <%= render 'deny_pr' %>
    <% end %>

  </div>
</div>

<div class='row'>
  <div class='col'>
    <h3>Publishes</h3>
    <ul class='list-group-flush'>
      <% @provision_request.publishes.each do |ddc| %>
      <li class='list-group-item'><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
      <% end %>
    </ul>
  </div>

  <div class='col'>
    <h3>Consumes</h3>
    <ul class='list-group-flush'>
      <% @provision_request.consumes.each do |ddc| %>
      <li class='list-group-item'><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <h3>Devices</h3>
    <ul class='list-group-flush'>
      <% @provision_request.devices.pluck(:id).each do |uuid| %>
      <li class='list-group-item'><%= uuid %> - <%= link_to Device.find(uuid).friendly_name, Device.find(uuid) %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<p>
  <h3>Broker Account</h3>
<% if @provision_request.broker_account %>
  <table class='table'>
    <tr>
      <td>username</td>
      <td><%= link_to @provision_request.broker_account.id, @provision_request.broker_account %></td>
    </tr>
<% if can? :manage, :all %>
    <tr>
      <td>Superuser?</td>
      <td><% @provision_request.broker_account.superuser? %></td>
    </tr>
<% end %>
    <tr>
      <td>broker</td>
      <td><%= link_to @provision_request.network.broker.name,  @provision_request.network.broker %></td>
    </tr>
  </table>
  <table class='table'>
    <tr>
      <th>port</th>
      <th>insecure</th>
      <th>secure</th>
    </tr>
    <tr>
      <td>MQTT</td>
      <td><%= @provision_request.network.broker.insecure_port %></td>
      <td><%= @provision_request.network.broker.secure_port %></td>
    </tr>
    <tr>
      <td>websockets</td>
      <td><%= @provision_request.network.broker.insecure_websocket_port %></td>
      <td><%= @provision_request.network.broker.secure_websocket_port %></td>
    </tr>
</table>
<% else %>
  Broker account will not be created until the request is accepted.
<% end %>
</p>

<% if can? :manage, :all %>
<p>
  <h3>Broker ACLs</h3>
  <ul>
    <% BrokerAcl.where(provision_request_id: @provision_request.id).find_each do |acl| %>
    <li><%= link_to acl.topic, acl %></li>
    <% end %>    
  </ul>
</p>
<% end %>

<% if @provision_request.accepted? %>
<code>
  <%= BrokerAcl.from_provision_request(@provision_request).to_s %>
</code>

<p>
  <h3>.homebus-config.json</h3>
  <code>
    {
  "homebus_server": "https://homebus.org",
  "status": "provisioned",
  "provision_request": {
    "name": "<%= @provision_request.friendly_name %>",
    "consumes": [
      <%= @provision_request.consumes.map { |ddc| "\"#{ddc}\"" }.join(",\n") %>
      ],
    "publishes": [
      <%= @provision_request.publishes.map { |ddc| "\"#{ddc}\"" }.join(",\n") %>
    ],
    "devices": [
      {
        "name": "<%= @provision_request.devices.first.friendly_name %>",
        "identity": {
          "manufacturer": "<%= @provision_request.devices.first.manufacturer %>",
          "model": "<%= @provision_request.devices.first.model %>",
          "serial_number": "<%= @provision_request.devices.first.serial_number %>", 
          "pin": ""
        },
        "id": "<%= @provision_request.devices.first.id %>",
        "token": "<%= @provision_request.devices.first.token.id %>"
      }
    ],
    "id": "<%= @provision_request.id %>",
    "token": "<%= @provision_request.token.id %>"
  },
  "broker": {
    "hostname": "mqtt0.homebus.io",
    "port": 8883,
    "uri": "mqtts://<%= @provision_request.broker_account.id %>:<%= CGI.escape(@provision_request.broker_account.enc_password) %>@mqtt0.homebus.io:8883"
  },
  "credentials": {
    "username": "<%= @provision_request.broker_account.id %>",
    "password": "<%= @provision_request.broker_account.enc_password %>"
  }
}
  </code>
</p>
<% end %>

<p>
  <%= link_to 'Edit', edit_provision_request_path(@provision_request), class: 'btn btn-info' %>
</p>
