<div class='row'>
  <div class='col'>
    <h1><%= @provision_request.friendly_name %></h1>
    <%= @provision_request.manufacturer %>, <%= @provision_request.model %><br />
    <h3>serial number:</h3> <%= @provision_request.serial_number %>
    <h3>Pin:</h3>
    <%= @provision_request.pin %>

    <hr>

    Network: <%= link_to @provision_request.network.name, @provision_request.network %>
    
    <hr>

<% if @provision_request.autoremove_at %>
    <h3>Temporary</h3>
    <p>Currently expires at <%= @provision_request.autoremove_at.to_s %></p>
<%end %>

<% if can? :manage, :all %>
    <h3>IP Address:</h3>
    <p>
      <%= @provision_request.ip_address %>
    </p>
<% end %>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <% if %>
    <h3><%= @provision_request.status.capitalize %></h3>
    <% end %>
    <% if @provision_request.unanswered? %>
    <a href='<%= accept_provision_request_path(@provision_request) %>'><button type='button' class="btn btn-success">Accept</button></a><a href='<%= deny_provision_request_path(@provision_request) %>'><button type='button' class="btn btn-danger">Deny</button></a>
    <% end %>

  </div>
</div>

<div class='row'>
  <div class='col'>
    <h3>Publishes</h3>
    <ul class='list-group-flush'>
      <% @provision_request.wo_ddcs.each do |ddc| %>
      <li class='list-group-item'><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
      <% end %>
    </ul>
  </div>

  <div class='col'>
    <h3>Consumes</h3>
    <ul class='list-group-flush'>
      <% @provision_request.ro_ddcs.each do |ddc| %>
      <li class='list-group-item'><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <h3>Devices ( <%= @provision_request.requested_uuid_count %>)</h3>
    <ul class='list-group-flush'>
      <% @provision_request.devices.pluck(:id).each do |uuid| %>
      <li class='list-group-item'><%= uuid %> - <%= link_to Device.find(uuid).friendly_name, Device.find(uuid) %></li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
<p>
  <h3>Broker Account</h3>
<% if @provision_request.mosquitto_account %>
  <table class='table'>
    <tr>
      <td>username</td>
      <td><%= link_to @provision_request.mosquitto_account.id, @provision_request.mosquitto_account %></td>
    </tr>
<% if can? :manage, :all %>
    <tr>
      <td>Superuser?</td>
      <td><% @provision_request.mosquitto_account.superuser? %></td>
    </tr>
<% end %>
    <tr>
      <td>broker</td>
      <td><%= link_to @provision_request.network.broker.name,  @provision_request.network.broker %></td>
    </tr>
  </table>
  <table class='table'>
    <tr>
      <th>port</th>
      <th>insecure</th>
      <th>secure</th>
    </tr>
    <tr>
      <td>MQTT</td>
      <td><%= @provision_request.network.broker.insecure_port %></td>
      <td><%= @provision_request.network.broker.secure_port %></td>
    </tr>
    <tr>
      <td>websockets</td>
      <td><%= @provision_request.network.broker.insecure_websocket_port %></td>
      <td><%= @provision_request.network.broker.secure_websocket_port %></td>
    </tr>
</table>
<% else %>
  Broker account will not be created until the request is accepted.
<% end %>
</p>

<% if can? :manage, :all %>
<p>
  <h3>Mosquitto ACLs</h3>
  <ul>
    <% MosquittoAcl.where(provision_request_id: @provision_request.id).find_each do |acl| %>
    <li><%= link_to acl.topic, acl %></li>
    <% end %>    
  </ul>
</p>
<% end %>

<code>
  <%= MosquittoAcl.from_provision_request2(@provision_request) %>
</code>

<p>
  <%= link_to 'Edit', edit_provision_request_path(@provision_request), class: 'btn btn-info' %>
</p>
