<div class='row'>
  <div class='col'>
  <h2><%= @provision_request.friendly_name %></h2>
  <%= @provision_request.manufacturer %>, <%= @provision_request.model %><br />
  <h3>serial number:</h3> <%= @provision_request.serial_number %>
  <h3>Pin:</h3>
  <%= @provision_request.pin %>
</p>

  <h3>IP Address:</h3>
<p>
  <%= @provision_request.ip_address %>
</p>
</div>
</div>

<div class='row'>
  <div class='col'>
<% if @provision_request.unanswered? %>
<a href='<%= accept_provision_request_path(@provision_request) %>'><button type='button' class="btn btn-success">Accept</button></a><a href='<%= deny_provision_request_path(@provision_request) %>'><button type='button' class="btn btn-danger">Deny</button></a>
<% end %>

<% if @provision_request.accepted? %>
<h3>Accepted</h3>
<% end %>

<% if @provision_request.denied? %>
<h3>Denied</h3>
<% end %>
  </div>
  </div>

<div class='row'>
  <div class='col'>
    <h3>Write-only DDCs</h3>
    <ul class='list-group'>
      <% @provision_request.wo_ddcs.each do |ddc| %>
      <li class='list-group-item'><%= ddc %></li>
      <% end %>
    </ul>
  </div>

  <div class='col'>
    <h3>Read-only DDCs</h3>
    <ul class='list-group'>
<% @provision_request.ro_ddcs.each do |ddc| %>
      <li class='list-group-item'><%= ddc %></li>
<% end %>
    </ul>
  </div>

  <div class='col'>
    <h3>Read-Write DDCs</h3>
    <ul class='list-group'>
<% @provision_request.rw_ddcs.each do |ddc| %>
      <li class='list-group-item'><%= ddc %></li>
<% end %>
    </ul>
  </div>
</div>

<% if @provision_request.mosquitto_account %>
<p>
  <h3>Mosquitto Account</h3>
  <%= link_to @provision_request.mosquitto_account.id, @provision_request.mosquitto_account %><br>
  Superuser? <% @provision_request.mosquitto_account.superuser? %>
</p>
<% end %>

<p>
  <h3>Mosquitto ACLs</h3>
  <ul>
<% @provision_request.mosquitto_acl.find_each do |acl| %>
      <li><%= link_to acl.topic, acl %></li>
<% end %>    
  </ul>
</p>

<p>
<%= link_to 'Edit', edit_provision_request_path(@provision_request) %> |
<%= link_to 'Back', provision_requests_path %>
</p>
