<p id="notice"><%= notice %></p>

<h1>Networks</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= link_to network.name, network %></td>
        <td><%= network.count_of_users %></td>
        <td><%= link_to 'Destroy', network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network', new_network_path, class: 'btn btn-info' %>
