<h1>Network Monitor <%= @network.name %></h1>
<p>
  The monitor has created a temporary device on your network which will be automatically removed after a period of inactivity. Refresh this page if it stops working.
</p>
<p>
  Devices added after this instance of the monitor is opened will not appear. Reload the page to see traffic from these devices.
</p>
<table id='monitor_table' class='table'>
  <thead>
    <tr>
      <th>Source</th>
      <th>DDC</th>
      <th>Timestamp</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% content_for(:title) do 'Network monitor' end %>
<% content_for(:header) do %>
<meta name="turbolinks-cache-control" content="no-cache">
<meta name="turbolinks-visit-control" content="reload">
<% end %>

<script>
  let monitor_params = {
    broker: {
      username: '<%= @broker[:username] %>', 
      password:  '<%= @broker[:password] %>', 
      server: '<%= @broker[:server] %>',
      port: <%= @broker[:port] %>, 
      client_id: '<%= @broker[:client_id] %>'
    },
    ddcs: [ 
<% @consume_ddcs.each do |ddc| %>
    '<%= ddc %>', 
<% end %>
    ],
  endpoints: [
<% @endpoints.each do |endpoint| %>
    '<%= endpoint %>', 
<% end %>
  ],
  uuid_name_map: {
<% @uuid_name_map.each do |uuid_name| %>
  "<%= uuid_name[:id] %>": "<%= uuid_name[:name] %>",
<% end %>
  },
  refresh_token: <%= @refresh_token %>
  };
</script>
