<p>
  <strong>Name:</strong>
  <%= @network.name %>
</p>

<p>
  <strong>Count of users:</strong>
  <%= @network.count_of_users %>
</p>

<p>
  <strong>Token:</strong>
  <%= @network.token %>
</p>

<%= link_to 'Edit', edit_network_path(@network), class: 'btn btn-info' %> |
<%= link_to 'List', networks_path %>
