<h1><strong>Network</strong>  <%= @network.name %></h1>

<div class='row'>
    <div class='col'>
<h2>Has  <%= @network.count_of_users %> owners</h2>
<ul>
  <% @network.users.each do |user| %>
  <li><%= link_to user.name, user %></li>
  <% end %>
</ul>
  </div>
</div>

<div class='row'>
    <div class='col'>
      <h2>Published</h2>
      <ul>
	<% @wo_ddcs.each do |ddc| %>
	<li><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
	<% end %>
      </ul>
    </div>
    <div class='col'>
      <h2>Consumed</h2>
      <ul>
	<% @ro_ddcs.each do |ddc| %>
	<li><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
	<% end %>
      </ul>
    </div>
</div>


<div class='row'>
    <div class='col'>
<h2>Authentication Token</h2>

<p>Copy this token into src/config.h</p>
<p><a href='#' onclick="if($('#auth_token_code').is(':visible')) { $('#auth_token_code').hide(); } else { $('#auth_token_code').show(); } return false;">Click to reveal authentication token</a></p>
<pre id='auth_token_code' style="display: none;">
#define HOMEBUS_AUTHENTICATION_TOKEN "<%= @token %>"
#define HOMEBUS_SERVER "api.homebus.io"
</pre>
<p>
  This token is good for 24 hours (until <%= Time.now + 24.hours %>). Refresh the page to generate a new token.
</p>
  </div>
</div>

<%= link_to 'Edit', edit_network_path(@network), class: 'btn btn-info' %>
