<h1><strong>Network</strong>  <%= @network.name %></h1>

<div class='row'>
    <div class='col'>
<h2>Has  <%= @network.count_of_users %> owners</h2>
<ul>
  <% @network.users.each do |user| %>
  <li><%= link_to user.name, user %></li>
  <% end %>
</ul>
  </div>
</div>

<div class='row'>
    <div class='col'>
      <h2>Published</h2>
      <ul>
	<% @publishes.each do |ddc| %>
	<li><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
	<% end %>
      </ul>
    </div>
    <div class='col'>
      <h2>Consumed</h2>
      <ul>
	<% @consumes.each do |ddc| %>
	<li><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
	<% end %>
      </ul>
    </div>
</div>

<div class='row'>
  <div class='col'>
    <p>
      <form action='<%= network_monitors_path %>' method='post' accept-charset='UTF-8' data-remote='true'>
        <input type='hidden' value='<%= @network.id %>'' name='network[id]'>
        <%= token_tag %>
      <input type='submit' value='Monitor this network'' class='btn btn-info'>
    </form>
    <p>
      This will create a temporary device on your network which will automatically be removed after a period of inactivity.
    </p>
    </div>
</div>


<%= link_to 'Edit', edit_network_path(@network), class: 'btn btn-info' %>
