<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :id, 'UUID' %>
    <%= form.text_field :id,  { class: 'form-control', readonly: true } %>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :friendly_name, "Name" %>
      <%= form.text_field :friendly_name, { class: "form-control" } %>
    </div>
 </div>




  
  <div class="row">
    <div class="col">
      <p>The manufacturer, model, serial number and PIN uniquely identify each device.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :manufacturer %>
      <%= form.text_field :manufacturer, { class: "form-control" } %>
    </div>

    <div class="col">
      <%= form.label :model %>
      <%= form.text_field :model,  {class: "form-control" } %>
    </div>

    <div class="col">
      <%= form.label :serial_number %>
      <%= form.text_field :serial_number,  { class: "form-control" }  %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :pin, 'PIN' %>
      <%= form.text_field :pin,  { class: "form-control" }  %>
    </div>
  </div>
    
 
   <div class="row">
    <div class="col">
      <h2>Publish</h2>
      <table class='table'>
	<% Permission.where(device: @device, publishes: true).each do |perm| %>
	<tr>
	  <td><%= check_box_tag "wo_ddcs[]", perm.ddc_id, perm.publishes, class: 'form-control' %></td>
	  <td><%= link_to perm.ddc.name, perm.ddc %></td>
	</tr>
	<% end %>
      </table>
    </div>

    <div class="col">
      <h2>Consume</h2>
      <table class='table'>
	<% Permission.where(device: @device, consumes: true).each do |perm| %>
	<tr>
	  <td><%= check_box_tag "ro_ddcs[]", perm.ddc_id, perm.consumes, class: 'form-control' %></td>
	  <td><%= link_to perm.ddc.name, perm.ddc %></td>
	</tr>
	<% end %>
      </table>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :provision_request_id %>
    <%= form.collection_select :provision_request_id, ProvisionRequest.all, :id, :friendly_name, {}, { class: 'form-control', disabled: true } %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
