<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :id, 'UUID' %>
    <%= form.text_field :id,  { class: 'form-control', readonly: true } %>
  </div>

  <div class="row">
    <div class="col">
      <%= form.label :friendly_name, "Name" %>
      <%= form.text_field :friendly_name, { class: "form-control" } %>
    </div>
 </div>

   <div class="row">
    <div class="col">
      <h2>Publish</h2>
      <table class='table'>
	<% @device.ddcs_devices.where(publishable: true).each do |perms| %>
	<tr>
	  <td><%= check_box_tag "wo_ddcs[]", perms.ddc_id, perms.allow_publish?, class: 'form-control' %></td>
	  <td><%= link_to perms.ddc.name, perms.ddc %></td>
	</tr>
	<% end %>
      </table>
    </div>

    <div class="col">
      <h2>Consume</h2>
      <table class='table'>
	<% @device.ddcs_devices.where(consumable: true).each do |perms| %>
	<tr>
	  <td><%= check_box_tag "ro_ddcs[]", perms.ddc_id, perms.allow_consume?, class: 'form-control' %></td>
	  <td><%= link_to perms.ddc.name, perms.ddc %></td>
	</tr>
	<% end %>
      </table>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :provision_request_id %>
    <%= form.collection_select :provision_request_id, ProvisionRequest.all, :id, :friendly_name, {}, { class: 'form-control', readonly: true } %>
  </div>

  <div class="actions">
    <%= form.submit "Update Device", class: "btn btn-primary" %>
  </div>
<% end %>
