<p>
  <strong>UUID</strong>
  <%= @device.id %>
</p>

<p>
  <strong>Provisioned:</strong>
  <%= @device.provisioned %>
</p>

<p>
  <strong>Friendly name:</strong>
  <%= @device.friendly_name %>
</p>

<p>
  <strong>Friendly Location:</strong>
  <%= @device.friendly_name %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @device.accuracy %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @device.precision %>
</p>

<p>
  <strong>Calibrated::</strong>
  <%= @device.calibrated? %>
</p>

<p>
  <strong>Update frequency:</strong>
  <%= @device.update_frequency %>
</p>

<p>
  <strong><%= link_to "Provision request", @device.provision_request %></strong>
</p>

<p>
  <strong>Write-only topics</strong>
  <ul>
    <% @device.wo_topics.each do |topic| %>
      <%= topic %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Read-only topics</strong>
  <ul>
    <% @device.ro_topics.each do |topic| %>
      <%= topic %>
    <% end %>
  </ul>
</p>

<p>
  <strong>Read-Write topics</strong>
  <ul>
    <% @device.rw_topics.each do |topic| %>
      <%= topic %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
