<div class='row'>
  <div class='col'>
    <p>
      <h2><%= @device.friendly_name %></h2>
      <h4><%= @device.id %></h4>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <p>
      <h2>Publish</h2>
      <ul>
	<% @device.provision_request.wo_ddcs.each do |ddc| %>
	<li><%= link_to ddc, Ddc.find_by( name: ddc) %></li>
	<% end %>
      </ul>
    </p>
  </div>
  <div class='col'>
    <p>
      <h2>Consume</h2>
      <ul>
	<% @device.provision_request.ro_ddcs.each do |ddc| %>
	<li><%= link_to ddc, Ddc.find_by(name: ddc) %></li>
	<% end %>
      </ul>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <h2>Request: <%= link_to @device.provision_request.friendly_name, @device.provision_request %></h2>
  </div>
</div>

<%= link_to 'Edit', edit_device_path(@device), class: 'btn btn-info' %>
