<div class='row'>
  <div class='col'>
    <p>
      <h2><%= @device.friendly_name %></h2>
      <h3><%= @device.id %></h3>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <p>
      <h2>Publish</h2>
      <ul>
	<% @device.provision_request.wo_ddcs.each do |ddc| %>
	<li><%= ddc %></li>
	<% end %>
      </ul>
    </p>
  </div>
  <div class='col'>
    <p>
      <h2>Consume</h2>
      <ul>
	<% @device.provision_request.ro_ddcs.each do |ddc| %>
	<li><%= ddc %></li>
	<% end %>
      </ul>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <h2><%= link_to "Provision request", @device.provision_request %></h2>
  </div>
</div>

<%= link_to 'Edit', edit_device_path(@device), class: 'btn btn-info' %>
