<p>
  <strong>UUID</strong>
  <%= @device.id %>
</p>

  <strong>Name:</strong>
  <%= @device.friendly_name %>
</p>

<p>
  <strong><%= link_to "Provision request", @device.provision_request %></strong>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
