<%= form_with(model: space, local: true) do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :friendly_name %>
    <%= form.text_field :friendly_name, { class: 'form-control'  } %>
  </div>

  <div class="field form-group">
    <%= form.label :interior %>
    <%= form.check_box :interior, class: 'form-check form-check-inline'  %>
  </div>

  <div class="field form-group">
    <%= form.label :devices %>
    <%= form.collection_select :device_ids, Device.all, :id, :friendly_name_and_location, {}, { multiple: true, class: "form-control" } %> 
  </div>


  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
