<p>
  <strong>App:</strong>
  <%= @app_instance.app_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @app_instance.user_id %>
</p>

<p>
  <strong>Parameters:</strong>
  <%= @app_instance.parameters %>
</p>

<p>
  <strong>Public key:</strong>
  <%= @app_instance.public_key %>
</p>

<%= link_to 'Edit', edit_app_instance_path(@app_instance), class: 'btn btn-info' %>
<%= link_to 'Delete', app_instance, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
