<p id="notice"><%= notice %></p>

<h1>Tokens</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Token</th>
      <th>Enabled</th>
      <th>Scope</th>
      <th>Owner</th>
      <th>Provision Request</th>
      <th>Network</th>
      <th>Device</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= link_to token.name, token %></td>
        <td><%= token.enabled ?  '✅' : '❌' %></td>
	<td><%= token.scope %></td>
	<td><%= token.user ? link_to(token.user.name, token.user) : '' %></td>
	<td><%= token.provision_request ? link_to(token.provision_request.friendly_name, token.provision_request) : '' %></td>
	<td><%= token.network ? link_to(token.network.name, token.network) : '' %></td>
	<td><%= token.device ? link_to(token.device.friendly_name, token.device) : '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token', new_token_path, class: "btn btn-primary" %>
