<p id="notice"><%= notice %></p>

<h1>Tokens</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Token</th>
      <th>Owner</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= link_to token.name, token %></td>
	<td><%= link_to token.owner.name, token.owner %></td>
        <td><%= token.enabled %></td>
        <td><%= link_to 'Show', token %></td>
        <td><%= link_to 'Edit', edit_token_path(token) %></td>
        <td><%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token', new_token_path %>
