<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @token.token %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @token.enabled %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
