<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h1>Hello from Homebus</h1>

<p>
A new device <%= @provision_request.friendly_name %> would like to join your Homebus network <%= @provision_request.network.name %>.
</p>

<ul>
  <li><%= @provision_request.manufacturer %></li>
  <li><%= @provision_request.model %></li>
  <li><%= @provision_request.serial_number %></li>
</ul>
<% if @provision_request.pin.present? %>
PIN number <%= @provision_request.pin %> - you may find the PIN printed on the device or displayed, if it has a display.
<% end %>

<% if @provision_request.wo_ddcs.length > 0 %>
This device would like to write the following:
<ul>
  <% @provision_request.wo_ddcs.each do |ddc| %>
  <li><%= ddc %></li>
  <% end %>
</ul>
<% end %>

<% if @provision_request.ro_ddcs.length > 0 %>
This device would like to read the following:
<ul>
  <% @provision_request.ro_ddcs.each do |ddc| %>
  <li><%= ddc %></li>
  <% end %>
</ul>
<% end %>

<% if @provision_request.rw_ddcs.length > 0 %>
This device would like to read and write the following:
<ul>
  <% @provision_request.rw_ddcs.each do |ddc| %>
  <li><%= ddc %></li>
  <% end %>
</ul>
<% end %>


Please <%= link_to "accept or deny the request", @provision_request %>.
