<!DOCTYPE html>
Hello from HomeBus

A new device, <%= @provision_request.friendly_name %> - <%= @provision_request.friendly_location %>, would like to access your HomeBus.

- <%= @provision_request.manufacturer %>
- <%= @provision_request.model %>
- <%= @provision_request.serial_number %>

<% if @provision_request.pin.present? %>
PIN number <%= @provision_request.pin %> - you may find the PIN printed on the device or displayed, if it has a display.
<% end %>

<% @provision_request.devices.each do |device| %>
- Device <%= device.friendly_name %>, <%= device.friendly_location %></li>
<% end %>

Please <%= link_to @provision_request, "accept or deny the request" %>.
