<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h1>Hello from Homebus</h1>

<p>
A new device <%= @provision_request.friendly_name %> would like to join your Homebus network <%= @provision_request.network.name %>.
</p>

<% if @provision_request.pin.present? %>
PIN number <%= @provision_request.pin %> - you may find the PIN printed on the device or displayed, if it has a display.
<% end %>

<% if @provision_request.publishes.length > 0 %>
This device would like to publish the following:
<ul>
  <% @provision_request.publishes.each do |ddc| %>
  <li><%= ddc %></li>
  <% end %>
</ul>
<% end %>

<% if @provision_request.consumes.length > 0 %>
This device would like to consume the following:
<ul>
  <% @provision_request.consumes.each do |ddc| %>
  <li><%= ddc %></li>
  <% end %>
</ul>
<% end %>


Please <%= link_to "accept or deny the request", @provision_request %>.
