<p id="notice"><%= notice %></p>

<h1>DDCs</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Reference url</th>
<% if can? :manage, :ddc %>
      <th colspan="1"></th>
<% end %>
    </tr>
  </thead>

  <tbody>
    <% @ddcs.each do |ddc| %>
      <tr>
        <td><%= link_to ddc.name, ddc %></td>
        <td><%= ddc.description %></td>
        <td><%= ddc.reference_url %></td>
<% if can? :manage, :ddc %>
        <td><%= link_to 'Destroy', ddc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New DDC', new_ddc_path, class: 'btn btn-info' %>
