<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
        <% app.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, class: 'form-control' %>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <%= form.label "Publishes" %>
      <%= form.text_area :publishes, { class: "form-control", value: @app.publishes.join("\r\n") } %>
    </div>

    <div class="col">
      <%= form.label "Consumes" %>
      <%= form.text_area :consumes, { class: "form-control", value: @app.consumes.join("\r\n") }  %>
    </div>
  </div>

  <hr>


  <div class="field">
    <%= form.label :parameters %>
    <%= form.text_area :parameters, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-info'  %>
  </div>
<% end %>
