<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @app.source %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Parameters:</strong>
  <code>
    <%= @app.parameters %>
  </code>
</p>

<%= link_to 'Edit', edit_app_path(@app), class: 'btn btn-info' %>
<%= link_to 'Delete', app, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
