<h1><%= @app.name %></h1>
<div>
  <p>
    <%= link_to 'Source', @app.source %>
  </p>
  <p>
  <%= @app.description %>
  </p>
  <h2>Parameters:</h2>
  <p>
    <code>
      <%= @app.parameters %>
    </code>
  </p>
</div>

<% if can? @app, :manage %>
  <%= link_to 'Edit', edit_app_path(@app), class: 'btn btn-info' %>
  <%= link_to 'Delete', @app, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
  
