<p id="notice"><%= notice %></p>

<h1>Journals</h1>

<table>
  <thead>
    <tr>
      <th>Req</th>
      <th>Notes</th>
      <th>Params</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.req %></td>
        <td><%= journal.notes %></td>
        <td><%= journal.params %></td>
        <td><%= journal.token %></td>
        <td><%= link_to 'Show', journal %></td>
        <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
        <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal', new_journal_path %>
