<%= form_with(model: mosquitto_account, local: true) do |form| %>
  <% if mosquitto_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mosquitto_account.errors.count, "error") %> prohibited this mosquitto_account from being saved:</h2>

      <ul>
      <% mosquitto_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :id, 'UUID' %>
    <%= form.text_field :id,  { class: 'form-control', readonly: true } %>
  </div>

  <div class="field form-group">
    <%= form.label :password %>
    <%= form.text_field :password,  { class: 'form-control' readonly: true } %>
  </div>


  <div class="field form-group">
    <%= form.label :superuser %>
    <%= form.check_box :superuser, { class: 'form-check form-check-inline' } %>
  </div>

  <div class="field form-group">
    <%= form.label :provision_request_id %>
    <%= form.text_field :provision_request_id,  { class: 'form-control', readonly: true, value: mosquitto_account.provision_request.friendly_name } %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
