<h1>Mosquitto Accounts</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Username/ID</th>
      <th>Password</th>
      <th>Superuser</th>
      <th>Provision request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mosquitto_accounts.each do |mosquitto_account| %>
      <tr>
        <td><%= link_to mosquitto_account.id, mosquitto_account %></td>
        <td><%= mosquitto_account.password %></td>
        <td><%= mosquitto_account.superuser %></td>
        <td><%= link_to mosquitto_account.provision_request.friendly_name, mosquitto_account.provision_request %></td>
        <td><%= link_to 'Edit', edit_mosquitto_account_path(mosquitto_account) %></td>
        <td><%= link_to 'Delete, mosquitto_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mosquitto Account', new_mosquitto_account_path, class: 'btn btn-info' %>
