<p>
  <strong>Username/ID:</strong>
  <%= @mosquitto_account.id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @mosquitto_account.password %>
</p>

<p>
  <strong>Superuser:</strong>
  <%= @mosquitto_account.superuser %>
</p>

<p>
  <strong>Provision request:</strong>
  <%= link_to @mosquitto_account.provision_request.friendly_name, @mosquitto_account.provision_request %>
</p>

<%= link_to 'Edit', edit_mosquitto_account_path(@mosquitto_account) %> |
<%= link_to 'Back', mosquitto_accounts_path %>
