<%= form_with(model: broker, local: true) do |form| %>
  <% if broker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(broker.errors.count, "error") %> prohibited this broker from being saved:</h2>

      <ul>
      <% broker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :insecure_port %>
    <%= form.text_field :insecure_port, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :secure_port %>
    <%= form.text_field :secure_port, class: 'form-control' %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :ssh_hostname %>
    <%= form.text_field :ssh_hostname, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ssh_username %>
    <%= form.text_field :ssh_username, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :ssh_key %>
    <%= form.text_field :ssh_key, class: 'form-control' %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :postgresql_database %>
    <%= form.text_field :postgresql_database, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :postgresql_username %>
    <%= form.text_field :postgresql_username, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :postgresql_password %>
    <%= form.text_field :postgresql_password, class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= form.submit class: 'btn btn-info' %>
  </div>
<% end %>
