<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= yield(:title) || 'Homebus Provisioner' %></title>

    <%= yield(:header) %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      @import url("https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css") (prefers-color-scheme: light); 
      @import url("https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css") (prefers-color-scheme: dark); 
      pre { background-color: inherit; }
    </style>

  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="/">HomeBus</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="<%= devices_path %>">Devices</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="<%= networks_path %>">Networks</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="<%= provision_requests_path %>">Requests</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="<%= ddcs_path %>">DDCs</a>
	    </li>
<% if can? :manage, :all %>
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	        Admin
	      </a>
	      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<%= link_to 'Users', users_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
		<%= link_to 'Permissions', permissions_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
  		<%= link_to 'Brokers', brokers_path, class: 'dropdown-item' %>
		<%= link_to 'Broker Accounts', mosquitto_accounts_path, class: 'dropdown-item' %>
		<%= link_to 'Broker ACLs', mosquitto_acls_path, class: 'dropdown-item' %>
              </div>
            </li>
<% end %>
	  <% if Rails.env == 'development' %>
	    <li class="nav-item">
	      <a class="nav-link" href="/cleardb">ClearDB</a>
	    </li>
	  <% end %>
	  <% if user_signed_in? %>
	    <li class="nav-item">
  	      <%= link_to current_user.email, current_user, class: 'nav-link' %>
	    </li>
	  <% end %>
	  </ul>
	  <form class="form-inline my-2 my-lg-0">
	    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='q'>
	    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</div>
	</nav>

	<% flash.each do |type, messages| %>
	  <% if messages.class == 'Array' %>
	    <% messages.each do |msg| %>
	    <div class="alert <%= flash_class(type) %> alert-dismissible fade show" role="alert">
  	      <%= msg %>
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </div>
	    <% end %>
	   <% else %>
	    <div class="alert <%= flash_class(type) %> alert-dismissible fade show" role="alert">
  	      <%= messages %>
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </div>
	  <% end %>
	<% end %>

      <%= yield %>
    </div>
  </body>
</html>
